<h1>ELENCO DEGLI UTENTI</h1>
<h2>Ciao, <strong>{{ utenteAttivo }}</strong></h2>
<button id="submit_data_button" (click)="tornaHome()">Torna alla home</button>
<button id="show_all_actions_button" class="action-button" (click)="mostraAzioniGenerali()" style="margin: 1rem 0;"> Mostra tutte le azioni </button>
<table style="width:25%;">
  <tr>
    <th>NOME</th>
    <th>EMAIL</th>
    <th>PASSWORD</th>
    <th>DELETE</th>
    <th>MODIFY</th>
    <th>ACTIONS</th>
  </tr>
  
    @for (u of utenti; track $index) {
    <tr>
    <td>{{u.nome}}</td>
    <td>{{u.email}}</td>
    @if(utenteAttivo == 'Admin'){
    <td>{{ u.password }}</td>
    } @else {
      <td>{{ '*'.repeat(u.password.length) }}</td>
    }
    <td><button id="delete_button" (click)="chiediConfermaEliminazione(u)">Cancella</button></td>
    <td><button id="modify_btn" (click)="goModify(u.email)">Modifica</button></td>
    <td><button class="action-button small"  (click)="selezionaUtente(u)">Mostra azioni</button></td>
    
    </tr>
    }

</table>
<!-- POPUP CONFERMA ELIMINAZIONE -->
<div class="overlay" *ngIf="utenteDaCancellare">
  <div class="modal">
    <h3>⚠️ Conferma eliminazione</h3>

    <p>
      Sei sicuro di cancellare l’account
      <strong>{{ utenteDaCancellare.nome }}</strong>?
    </p>

    <div class="actions">
      <button class="danger" (click)="confermaEliminazione()">
        Sì, cancella
      </button>
      <button (click)="annullaEliminazione()">
        Annulla
      </button>
    </div>
  </div>
</div>
