<h1>ELENCO DEGLI UTENTI</h1>
<button id="submit_data_button" (click)="tornaHome()">Torna alla home</button>
<button id="show_all_actions_button" (click)="mostraAzioniGenerali()" style="margin: 1rem 0;"> Mostra tutte le azioni </button>
<table style="width:25%;">
  <tr>
    <th>NOME</th>
    <th>EMAIL</th>
    <th>PASSWORD</th>
    <th>DELETE</th>
    <th>MODIFY</th>
  </tr>
  
    @for (u of utenti; track $index) {
    <tr>
    <td>{{u.nome}}</td>
    <td>{{u.email}}</td>
    <td>{{ '*'.repeat(u.password.length) }}</td>
    <td><button id="delete_button" (click)="eliminaUtente(u.email)">Cancella</button></td>
    <td><button id="modify_btn" (click)="goModify(u.email)">Modifica</button></td>
    <td><button (click)="selezionaUtente(u)">Mostra azioni</button></td>
    
    </tr>
    }

</table>
<div *ngIf="utenteSelezionato" style="margin-top: 20px;">
<h2>Azioni di {{ utenteSelezionato.nome }}</h2>
  <label>Filtra per data:</label> 
  <input type="date" [(ngModel)]="dataSelezionata"> 
  <ul> <li *ngFor="let a of azioniFiltrate"> 
    {{ a.title }} - {{ a.date }} 
    </li> 
  </ul> 
</div>
