        body{
            font-family:Georgia, 'Times New Roman', Times, serif;
            text-align: center;
            background:#f0f2f5;
        }
        #box_form{
            width: 250px;
            height: 270px;
            background-color: white;
            border-radius: 4px;
            border: none;
            display: inline-block;
            padding: 20px;
            margin-top: 50px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        #button_reg{
            font-size: 20px;
            width: 120px;
            height: 35px;
            background-color:cornflowerblue;
            border: none;
            border-radius: 4px;
            font-weight: bold;
            transition: transform 0.3s ease;
        }   

        #button_reg:hover{
            background-color:rgb(89, 125, 194);
            transform: scale(1.1) rotate(4deg);
        }

        #nome, #email, #password{
        
            font-size: larger;
            width: 100%;
            border: 1px solid black;
            border-radius: 4px;
            padding: 5px;
        }
        #button_log{
            font-size: 20px;
            width: 120px;
            height: 35px;
            background-color:cornflowerblue;
            border: none;
            border-radius: 4px;
            font-weight: bold;
            transition: transform 0.3s ease;
        }   

        #button_log:hover{
            background-color:rgb(89, 125, 194);
            transform: scale(1.1) rotate(4deg);
        }

        #home {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
}

#home img {
    width: 35px;
    height: 35px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

#home img:hover {
    transform: scale(1.3);
}